<!DOCTYPE html>
<html lang="en" ng-app="TodoApp">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="/src/todo-app.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-white bg-zinc-900" ng-controller="AppCtrl as app">
    <style type="text/tailwindcss">
        td {
            @apply py-4;
        }

        .edit-field-input {
            @apply rounded-md bg-white/5 px-2 py-1;
        }

        option {
            @apply bg-zinc-900/80;
        }

        .ok-btn {
            @apply bg-green-700 px-1 rounded-lg;
        }

        tbody {
            @apply pt-6;
        }

        .add-new-dialog {
            @apply bg-zinc-900/80 rounded-lg p-16 text-white w-full lg:max-w-[50%];
        }

        .error-field {
            @apply text-red-500;
        }

        .input-error {
            @apply border-b-2 border-red-500;
        }
    </style>
    <header>
        <nav class="bg-violet-950 p-3 text-3xl">
            <div class="max-w-6xl mx-auto flex items-center justify-between">
                <h1 class="font-bold">{{title}}</h1>
                <ul class="flex items-center gap-2">
                    <li ng-repeat="link in links" class="text-[1rem]">
                        <a href="link.href" target="_blank">{{link.text}}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="min-h-[calc(100vh-120px)] mt-[30px] max-w-7xl mx-auto p-16 bg-zinc-800/30 rounded-lg">
        <div class="mb-14 w-full flex flex-row-reverse" ng-click="app.toggleDialog()">
            <button
                class="flex items-center justify-center bg-cyan-700 w-10 h-10 rounded-md text-4xl leading-[0] relative">
                <span class="absolute top-[40%]">&plus;</span></button>
        </div>
        <div class="fixed w-screen h-screen bg-black/60 inset-0 flex justify-center items-center"
            ng-show="app.openDialog">
            <dialog open id="addTaskDialog" class="add-new-dialog">
                <div class="w-full">
                    <button ng-click="c.toggleDialog()"></button>
                </div>
                <form method="dialog" class="flex flex-col gap-6 w-full">
                    <label ng-class="{'error-field': app.taskDialogErrors['text']}" for="text">Task</label>
                    <input ng-class="{'input-error': app.taskDialogErrors['text']}" type="text" name="text" id="task"
                        ng-init="newTask.text = ''" ng-model="newTask.text" class="edit-field-input w-full" />
                    <label ng-class="{'error-field': app.taskDialogErrors['description']}"
                        for="description">Description</label>
                    <input ng-class="{'input-error': app.taskDialogErrors['description']}" type="text"
                        name="description" id="description" ng-init="newTask.description = ''"
                        ng-model="newTask.description" class="edit-field-input w-full" />
                    <label ng-class="{'error-field': app.taskDialogErrors['state']}" for="state">State</label>
                    <select ng-class="{'input-error': app.taskDialogErrors['state']}" name="state" id="state"
                        ng-init="newTask.state = 'In progress'" ng-model="newTask.state" class="edit-field-input w-full"
                        ng-options="states.label as states.label for states in state_values" class="text-black"
                        class="edit-field-input">
                    </select>
                    <label ng-class="{'error-field': app.taskDialogErrors['by']}" for="by">By</label>
                    <input ng-class="{'input-error': app.taskDialogErrors['by']}" type="text" name="by" id="by"
                        ng-init="newTask.by = ''" ng-model="newTask.by" class="edit-field-input w-full" />
                    <button ng-click="app.addTask(newTask)">Add Task</button>
                </form>
            </dialog>
        </div>
        <table class="w-full text-left">
            <thead class="border-b-[1px] border-b-zinc-800/80">
                <th>Task</th>
                <th>Description</th>
                <th>State</th>
                <th>By</th>
            </thead>

            <tbody>
                <tr ng-repeat="task in app.tasks">
                    <td ng-show="task.edit != 'text'" ng-click="task.edit = 'text'">{{task.text}}</td>
                    <td ng-show="task.edit == 'text'"><input class="edit-field-input" value="task.text"
                            ng-model="task.text" />
                        <ok-button field="text"></ok-button>
                    </td>

                    <td ng-show="task.edit != 'description'" ng-click="task.edit = 'description'">{{task.description}}
                    </td>
                    <td ng-show="task.edit == 'description'"><input class="edit-field-input" value="task.description"
                            ng-model="task.description" />
                        <ok-button field="description"></ok-button>
                    </td>

                    <td ng-show="task.edit != 'state'" ng-click="task.edit = 'state'">{{task.state}}</td>
                    <td ng-show="task.edit == 'state'">
                        <select ng-model="task.state" class="edit-field-input"
                            ng-options="states.label as states.label for states in state_values"
                            class="text-black"></select>
                        <ok-button field="state"></ok-button>
                    </td>

                    <td ng-show="task.edit != 'by'" ng-click="task.edit = 'by'">{{task.by}}</td>
                    <td ng-show="task.edit == 'by'"><input class="edit-field-input" value="task.by"
                            ng-model="task.by" />
                        <ok-button field="by"></ok-button>
                    </td>

                </tr>
            </tbody>
        </table>
    </main>
</body>

</html>